/** Tipper **/
.tipper{height:1px;left:-99999px;position:absolute;pointer-events:none;top:-99999px;width:1px}.tipper .tipper-content{background:rgba(0,0,0,.85);border-radius:3px;color:#fff;display:block;float:left;font-family:sans-serif;font-size:12px;margin:0;padding:8px 12px;position:relative;white-space:nowrap}.tipper .tipper-caret{background:url(jquery.fs.tipper-icon.png) no-repeat;content:'';display:block;height:11px;margin:0;position:absolute;width:5px}.tipper.right .tipper-content{box-shadow:1px 0 3px rgba(0,0,0,.25)}.tipper.right .tipper-caret{background-position:left center;left:-5px;top:0}.tipper.left .tipper-content{box-shadow:-1px 0 3px rgba(0,0,0,.25)}.tipper.left .tipper-caret{background-position:right center;right:-5px;top:0}.tipper.bottom .tipper-caret,.tipper.top .tipper-caret{display:block;float:none;height:5px;margin:0 auto;width:11px}.tipper.top .tipper-content{box-shadow:0 -1px 3px rgba(0,0,0,.25)}.tipper.top .tipper-caret{background-position:center bottom;bottom:-5px;left:0}.tipper.bottom .tipper-content{box-shadow:0 1px 3px rgba(0,0,0,.25)}.tipper.bottom .tipper-caret{background-position:center top;top:-5px;left:0}
.login-action-register .message.success ul{
    list-style: none;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
#cart-1{
    background: #ccc;
    margin: 0 !important;
    padding-bottom: 10px;
    position: relative;
}
#cart-1 .widget {
    margin: 0 !important;
}
#cart-1 .widget .widget-top {
    background: #ccc;
    margin-bottom: 0;
    border: none;
}
#cart-1 .sidebar-description .description {
    color: red;
}
#cart-1:after {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
option[value="cart-1"]
{
    display: none;
} 
/** Admin panel **/
.gloria-activate-admin-panel-wrapper {
    position: relative;
    margin-bottom: 30px;
}
.gloria-bg-intro {
    background-image: url('../images/Gloria-intro.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 70% 70%;
    width:100%;
    height: 100%;
}
/** Install Admin Panel Button **/
.gloria-activate-admin-panel-button {
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
}
.gloria-activate-admin-panel-button a{
    padding: 15px 30px;
    color: #fff;
    background-color: #D13030;
    text-transform: uppercase;
    font-size: 18px;    
    text-decoration: none;
    position: absolute;
    left: 40px;
    border-radius: 3px;
}
.bkpostbox .gloria-admin-button a {
    text-transform: uppercase;
    font-size: 14px;    
}
.gloria-activate-admin-panel-button a.gloria-admin-activate {
    top: 120px;
}
.gloria-activate-admin-panel-button a.gloria-admin-activate-ignore {
    top: 190px;
}
.gloria-activate-admin-panel-button a:hover {
    background-color: #0073AA;
    color: #fff;
}
/** Tabs*/
.bkpostbox {
    min-width: 255px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
}
.bkpostbox h1 {
    margin: 15px 20px 0 0;
    padding: 0;
    color: #32373c;
    line-height: 1.2em;
    font-size: 2.8em;
    font-weight: 400;
    font-size: 42px;
}
.bkpostbox .bk-admin-notice {
    font-size: 20px;
    color: #888;
}
.nav-tab-wrapper {
}
.nav-tab-wrapper .nav-tab {
    font-size: 16px;
    padding: 6px 13px;
}
.nav-tab-wrapper .nav-tab:first-child{
    margin-left: 0;
}
.nav-tab-active, .nav-tab-active:focus, .nav-tab-active:focus:active, .nav-tab-active:hover {
    border-bottom: 1px solid #fff;
    background: #fff;
    position: relative;
    z-index: 10;
}
.redux-container-image_select ul.redux-image-select li {
    margin-right: 10px !important;
}
.redux-container-image_select ul.redux-image-select li:nth-child(n+3) {
    margin-top: 15px !important;
    padding-top: 30px !important;
    border-top: 1px solid #ccc;
}
.bk-progress-wrapper {
    margin-bottom: 50px;
    padding: 0 25px;
}
/** Welcome Template **/
.gloria-welcome-main {
    padding: 0 20px;
}
.gloria-screenshot, .gloria-welcome-content {
    width: 50%;
    float: left;
}
.gloria-welcome-content p{
    font-size: 1.3em;
    line-height: 1.6;
    padding: 0 15px;
}
.gloria-welcome-content .video-tutorial {
    text-align: center;
    margin-top: 30px;
}
.gloria-screenshot img {
    width: 100%;
}
.gloria-welcome-footer > div {
    width: 49%;
    margin-right: 2%;
    float: left;
    padding: 6px 26px;
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-top: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
}
.gloria-welcome-footer > div:last-child {
    margin-right: 0;
}
.gloria-welcome-footer > div h2 {
    font-weight: 700 !important;
}
.bk-button a{
    margin: 15px 0;
    font-size: 13px;
    padding: 6px 10px;
    background: #333;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border-radius: 2px;
}
.bk-button a:hover {
    background-color: #0073AA;
    color: #fff;
}
/** Import Demo **/
.postbox .hndle, .stuffbox .hndle {
    border-bottom: 1px solid #dedede;
}
.bk-demo-item {
    width: 33.3333%;
    padding: 0 25px;
    float: left;
    box-sizing: border-box;
}
.bk-demo-item-inner {
    border: 1px solid #dedede;
    text-align: center;
    background: #f8f8f8;
}
.bk-demo-item-inner img {
    display: block;
}
.bk-demo-header {
    padding: 15px;
    background-color: #ffffff;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    font-weight: bold;
    font-size: 14px;
}
.bk-demo-item:nth-child(4n) {
    clear: both;
}
.bk-demo-item:nth-child(n+4) {
    margin-top: 50px;
}
.bk-demo-item a, .bk-demo-item .install-status {
    margin: 15px 10px;
    font-size: 13px;
    padding: 4px 10px;
    background: #333;
    color: #fff;
    display: inline-block;
    text-decoration: none;   
    border-radius: 2px; 
    margin-right: 10px;
}
.bk-demo-item a:hover {
    background: #0073AA;
    
}
.bk-import-process-bar-wrapper {
    width: 100%;
    height: 20px;
    margin-top: 40px;
    background: #eee !important;
}
.bk-import-process-bar {
    height: 20px;
    background-color: #4db2ec;
    -webkit-transition: width 400ms;
    -moz-transition: width 400ms;
    -o-transition: width 400ms;
    transition: width 400ms;
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    animation: animate-stripes 4s linear infinite;
}
@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}
@-webkit-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}
/* Plugins */
.bk-demo-wrapper .bk-install-plugin {
  display: none;
}
.bk-demo-wrapper .bk-deactivate-plugin {
  display: none;
}
.bk-demo-wrapper .bk-activate-plugin {
  display: none;
}
.bk-demo-wrapper .plugin-active .bk-deactivate-plugin {
  display: inline-block;
}
.bk-demo-wrapper .plugin-inactive .bk-activate-plugin {
  display: inline-block;
}
.bk-demo-wrapper .not-installed .bk-install-plugin {
  display: inline-block;
}
/** Status **/
.bk-help {
    width: 12px;
    height: 13px;
    display: inline-block;
    text-align: center;
    line-height: 13px;
    cursor: pointer;
    background-color: silver;
    color: #fff;
    font-size: 11px;
}
.bk-help:hover {
    color: #fff;
}
/********* Post Review Admin ************/
.bk-enabled-review{
    display:none;
}
.field-bkmegamenu {
    clear: both;
    padding-top: 10px;
}
#bk_post_ops .rwmb-field {
  margin: 0 0 30px !important;
}
.bk-criterias {
    margin-top: 35px;
}

.bk-criteria:nth-child(6) {
    margin-bottom: 30px;   
}
.pros_cons_en {
    margin-top: 30px;
}
.bk_pros_cons_setting_wrap {
    margin-top: 30px;
}
/*
 * Page Builder
 */
.textarea-animated {
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}
.bk-modules-wrap .button.dropdown-toggle {
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;  
    background-color: #455A64 !important;
              
}
.bk-modules-wrap .button.dropdown-toggle .caret {
    border-top-color: #fff !important;
}
.dropdown-menu li a {
    text-decoration: none;
}
#bk-container {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #DFDFDF;
  margin-bottom: 20px;
  position: relative;
}
#bk-container .bk-toolbox {
    width: 100%;
    text-align: center;
}
#bk-container .bk-toolbox > ul {
    display: inline-block;
}
#bk-container .bk-toolbox ul li {
    float: left;
    margin-right: 50px;
    display: block;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
}
#bk-container .bk-toolbox ul li:last-child {
    margin-right: 0;
}
#bk-container .bk-toolbox ul li a {
    display: block;
    width: 190px;
    height: 135px
}
#bk-container .bk-toolbox ul li.fullwidth {
    background-image: url('../images/full-width.png');
}
#bk-container .bk-toolbox ul li.has-rsb {
    background-image: url('../images/has-rsb.png');
}
#bk-container .bk-toolbox ul li.has-innersb {
    background-image: url('../images/has-innersb.png');
}
.bk-sections .bk-section-loading {
  margin: 10px;
  padding: 10px;
  color: #999;
  text-align: center;
}

.bk-sections .bk-section-empty {
  border: 1px dashed #ddd;
  margin: 10px;
  padding: 10px;
  color: #999;
  text-align: center;
  display: none;
}
.bk-sections .bk-section-empty:last-child {
  display: block;
}

.bk-section {
    margin: 30px;
    box-shadow: none !important;
    border-radius: 0;
    border: none;
}

.bk-section .bk-section-bar {
    padding: 15px 10px 15px 10px;
    background-color: #455A64;
    color: #fff;
}

.bk-section .bk-section-toolbox {
  float: right;
}
.bk-section .bk-module-toolbox {
  float: right;
}
.bk-section-delete i {
    color: #fff;
    font-size: 16px;
}
.bk-section .bk-sec-label, .bk-section [class^="icon-"], .bk-section [class*=" icon-"] {
  font-size: 14px;
  line-height: 1.5;
  vertical-align: middle;
}

.bk-section .bk-sec-sort-ctrl {
  cursor: move;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #DFDFDF;
  font-size: 20px;
}
.bk-section .bk-sec-label {
  font-size: inherit;
  display: inline-block;
  cursor: move;
}

.bk-section .bk-module-handle {
  cursor: move;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #DFDFDF;
  font-size: 16px;
}
.bk-section .bk-module-label {
  font-size: inherit;
  display: inline-block;
  cursor: move;
}
.bk-sec-placeholder {
  display: block;
  margin: 10px;
  height: 35px;
  border: 1px dashed #ccc;
}
.bk-module-placeholder {
  display: block;
  margin: 10px;
  height: 35px;
  border: 1px dashed #ccc;
}
.bk-section .bk-module-bar {
    padding: 10px;
    background-color: #455A64;
    color: #fff;
}
.bk-module-delete i {
    color: #fff;
    font-size: 14px;
}
.bk-has-rsb-module-menu, .bk-fullwidth-module-menu ,.bk-has-innersb-module-menu {
    padding: 20px 20px 10px 20px;
    height: 30px;        
}
.bk-has-rsb-module-menu .dropdown, .bk-fullwidth-module-menu .dropdown, .bk-has-innersb-module-menu .dropdown {
    float: left;   
}
.bk-modules-wrap {
    position: relative;
}
.bk-modules-wrap .sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
}
.bk-modules-wrap .sidebar label {
    font-weight: bold;
    font-size: 14px;  
    margin-right: 10px; 
}
.bk-modules-wrap {
    border: 1px solid #eeeeee;
    display: none;
    background-color: #fff;
}
.bk-modules {
    clear: both;
    padding: 0 20px 30px 20px;
}
.bk-module-options {
    border-top: 1px solid #eeeeee;
    padding: 10px 0;
}
.bk-module-option-wrap {
    padding: 10px 20px;
}
.bk-module-option-label {
    font-weight: bold;
}
.bk-module-option-description {
    font-style: italic;
}
.bk-module-option-field-wrapper .bk-field{
    width: 500px;
    border-radius: 0;
    box-shadow: none;
    border-color: #aaa;
    margin-top: 10px;
    margin-bottom: 5px;
    outline: none !important;
}
.leftsec .bk-module-option-field-wrapper .bk-field, .rightsec .bk-module-option-field-wrapper .bk-field {
    width: 100%;
}
.bk-module-item {
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 #FFF;
}


.leftsec {
    width: 66.66666%;
    float: left;
    margin-top: 60px;
    border-top: 1px solid #d3d3d3;
}

.rightsec {
    width: 33%;
    float: right;
    margin-top: 60px;
    border-top: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
}