@media screen and (min-width: 780px) {
    #main-menu > ul > li:hover .bk-dropdown-menu {
        position: absolute;
        width: 100%;
        left: 0px;
        min-height: 300px;
        background: #17335a;
    }
    #main-menu > ul > li:hover .bk-dropdown-menu .bk-sub-menu-wrap > ul {
        width: 100%;
    }
    #main-menu > ul > li:hover .bk-dropdown-menu .bk-sub-menu-wrap > ul > li {
        width: 25%;
        float: left;
    }
    #main-menu > ul > li:hover .bk-dropdown-menu .bk-sub-menu-wrap > ul > li .bk-sub-sub-menu {
        display: block;
        position: relative;
        float: left;
        left: 0px;
        opacity: 1;
        top:0px;
    }

}